.button {
    background-color: var(--background-color-dark);
    border: 1px solid var(--text-main-color-dark);
    border-radius: 8px;
    color: var(--text-color-light);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    margin: 0 0.2em;
    padding: 0.6em 1em;
}

.button:focus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.button:disabled,
.button[disabled] {
    border: 1px solid var(--hover-color-light);
    background-color: var(--background-second-color-dark);
    color: var(--hover-color-light);
}
