.container_charts {
    width: 95%;
    margin: auto;
}

.container_charts > .topbar_row {
    display: flex;
    margin: 0;
}

@media (max-width: 480px) {
    .container_charts > .topbar_row {
        flex-direction: column;
    }
}

.container_charts > .topbar_row > .element {
    margin: 0;
    flex: 1;
}

.topbar_row > .element + .element {
    margin-left: 1em;
}

.inner_chart {
    margin: 0;
    padding-top: 1em;
}

/* Stats block */
.stats {
    display: flex;
    justify-content: right;
}

@media (max-width: 480px) {
    .stats {
        margin-top: 2em;
    }
}

.stats > .element_column {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
    padding-left: 1em;
}

.stats > .element_column + .element_column {
    text-align: left;
}

.stats > .element_column > p {
    margin: 0;
}
