.container_index {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
}

.content {
    padding: 0 1em;
}

.container_project {
    flex: 1;
}

.container_data {
    padding-top: 0.4em;
    padding-bottom: 0.1em; /* Hack remove if you will find why padding disappear */
    flex: 1;
    background-color: var(--background-second-color-dark);
    border-radius: 1em;
}
