.container_select {
    display: flex;
    margin: 0;
    background-color: transparent;
    border: 1px solid var(--text-main-color-dark);
    border-radius: 0.4em;
    padding: 0.6em 1em;
    outline: none;
    width: 100%;
    color: var(--text-main-color-dark);
    font-family: Space Grotesk, sans-serif;

    /* Remove default arrow */
    -webkit-appearance: none;
    appearance: none;
    /* Use custom arrow */
    background-image: url("../../public/arrow-down.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}

.container_select:focus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.container_select:hover {
    background-color: var(--background-color-dark);
}

.container_select::placeholder {
    color: var(--text-main-color-dark);
}
