.container_input {
    display: flex;
    margin: 0;
    background-color: transparent;
    border: 1px solid var(--text-main-color-dark);
    border-radius: 0.4em;
    padding: 0.6em 1em;
    outline: none;
    width: 80px;
    color: var(--text-main-color-dark);
    font-family: Space Grotesk, sans-serif;
}

/* Chrome, Safari, Edge, Opera hide arrows */
.container_input::-webkit-outer-spin-button,
.container_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox hide arrows */
.container_input[type="number"] {
    -moz-appearance: textfield;
}

.container_input:focus {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.container_input:hover {
    background-color: var(--background-color-dark);
}

.container_input::placeholder {
    color: var(--text-main-color-dark);
}
