.project_bar {
    display: flex;
}

.project_bar > .element {
    flex: 1;
    margin: 0;
    width: 100%;
}

.project_bar h2 {
    font-size: 40px;
    margin: 0;
}

.collection_select {
    max-width: 300px;
    padding-top: 0.4em;
    margin-left: auto;
    margin-right: 2em;
}
